<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Angular assignments</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
          Link
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Works well!</h1>
<div class="container">
  <h4>Assignment 1</h4>
  <app-success-alert></app-success-alert>
  <app-warning-alert></app-warning-alert>
  <hr>
  <h4>Assignment 2</h4>
  <input [(ngModel)]="username">
  <p>{{username}}</p>
  <button *ngIf="username" (click)="username = ''">Reboot</button>
  <hr>
  <h4>Assignment 3</h4>
  <!-- <app-assignment3></app-assignment3> -->
 <button (click)="toggleCollapsed()" (click)="clickCount()">Display details</button>
 <p>Vous avez cliqué {{count}} fois sur le boutton.</p>
 <div *ngIf="!isCollapsed">
 <p>La nature même de l'Homme est son commencement.</p>
</div>
  <hr>
  <h4>Assignment 4</h4>
  <!-- <app-assignment4></app-assignment4> -->
  <hr>
  <h4>Assignment 5</h4>
  <!-- <app-assignment5></app-assignment5> -->
  <hr>
  <h4>Assignment 6</h4>
  <!-- <app-assignment6></app-assignment6> -->
  <hr>
</div>
